* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

ul, ol {
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  padding-top: 1px;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 50px auto;
}
/*start there --- --- --- --- ---*/
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /*不确定会有多少行*/
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.item {
  background-color: #F17C67;
}

.item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical {
  /*表示占2行*/
  grid-row: span 2;
}

.horizontal {
  /*表示占2列*/
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}
